.container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: 800px;
  padding: 10px;
  transition: all 400ms !important;
}

.no-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 800px !important;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 90% !important;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 800px !important;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 80% !important;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 90% !important;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    width: 99% !important;
  }
}